.about {
    background: #2C5680;
    text-align: center;
    padding: 2rem 0 3rem;
}

.about__title {
    font-size: 3rem;
    color: #DEB959;
    font-weight: 700;
    margin-bottom: 1.5rem;
  
}

.about__text {
    font-size: 1.5rem;
    margin: 0 22%;
    color: #fff;
    line-height: 2rem;
  
}