.header {
    background: #85CDF5;
    position: sticky;
    top: 0;
    padding: .75rem 0 .5rem;
}

.header__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    width: 6rem;
    height: 6rem;
}

.header__link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
}

.header__link::after {
    display: block;
    content: "";
    padding-top: .2rem;
    border-bottom: solid 3px #333;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header__link:hover:after {
    transform: scaleX(1);
}

.header__link--toRight:after {
    transform-origin: 0% 50%;
}

.header__link--toLeft:after {
    transform-origin: 100% 50%;
}