.intro {
  height: calc(72.5vh + 7.5rem);
  position: relative;
  display: grid;
  place-items: center;
}

.intro__bgs {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.intro__description {
  position: absolute;
  width: 40%;
  text-align: center;
  color: white;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 700;
}

.intro__text {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.intro__visualBar {
  height: 0.5rem;
  width: 10rem;
  background: #fff;
  transition: width 0.7s ease-in-out;
  margin-bottom: 1rem;
  z-index: 1;
}

.intro__visualBar:hover {
  width: 90%;
}

.intro__bgs .intro__bg {
  min-width: 100%;
  height: 100%;
  animation: slide 50s ease-in-out infinite;
}

.intro__mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.intro__bg--1 {
    background: url(../img/bg-wolf.jpg) no-repeat center / cover;
}
.intro__bg--2 {
    background: url(../img/bg-wolf3.jpg) no-repeat center bottom / cover;
}
.intro__bg--3 {
    background: url(../img/bg-wolf4.jpg) no-repeat center top / cover;
}

@keyframes slide {
  0%,
  12.5%,
  100% {
    transform: translateX(0);
  }

  25%,
  37.5%,
  75%,
  87.5% {
    transform: translateX(-100%);
  }

  50%,
  62.5% {
    transform: translateX(-200%);
  }
}

/*.intro__buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: 4rem;
}

.intro__button {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
}

.intro__icon {
  font-size: 2rem;
}*/