.intro {
  height: calc(72.5vh + 7.5rem);
  position: relative;
  display: grid;
  place-items: center;
}

.intro__bgs {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.intro__description {
  position: absolute;
  width: 40%;
  text-align: center;
  color: white;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 700;
}

.intro__text {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.intro__visualBar {
  height: 0.5rem;
  width: 10rem;
  background: #fff;
  transition: width 0.7s ease-in-out;
  display: block;
  margin-bottom: 1rem;
}

.intro__visualBar:hover {
  width: 90%;
}

.intro__bgs .intro__bg {
  display: block;
  min-width: 100%;
  height: 100%;
  animation: slide 50s ease-in-out infinite;
}

.intro__mask {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.intro__bg--1 {
  background: url(../img/bg-wolf4.jpg) no-repeat center / cover;
}
.intro__bg--3 {
  background: url(../img/bg-wolf2.jpg) no-repeat center / cover;
}
.intro__bg--2 {
  background: url(../img/bg-wolf3.jpg) no-repeat center / cover;
}

@keyframes slide {
  0%,
  12.5%,
  100% {
    transform: translateX(0);
  }

  25%,
  37.5%,
  75%,
  87.5% {
    transform: translateX(-1903px);
  }

  50%,
  62.5% {
    transform: translateX(calc(-1903px * 2));
  }
}
